In [5]:
import pandas as pd

df_all = pd.read_pickle('data/TextData/all_df_final.pkl')
df_test = pd.read_pickle('data/TextData/test_df_final.pkl')

In [10]:
df_all['eqn'][0]

'x = ( 1 * 0.01 ) * 2'

In [4]:
class nptr:
    def __init__(self, c):
        self.data = c
        self.left = None
        self.right = None


def display(node):
    if (node is None):
        print("")
        return
    display(node.left)
    print(node.data, end=" ")
    display(node.right)


def newNode(c):
    n = nptr(c)
    return n


def isDecimal(value):
    try:
        float(value)
        return True
    except ValueError:
        return False


def build(s):
    stN = []
    stC = []

    p = [0] * 123
    p[ord('+')] = p[ord('-')] = 1
    p[ord('/')] = p[ord('*')] = 2
    p[ord('^')] = 3
    p[ord(')')] = 0

    for i in s.split():
        # print(i)
        if i == '(':
            stC.append(i)
        # Push the operands in node stack
        elif (i.isalpha() or i.isnumeric() or i.isdecimal() or isDecimal(i)):
            t = newNode(i)
            stN.append(t)

        elif (p[ord(i)] > 0):
            while (len(stC) != 0 and stC[-1] != '(' and ((i != '^' and p[ord(stC[-1])] >= p[ord(i)])
                                                         or (i == '^' and
                                                             p[ord(stC[-1])] > p[ord(i)]))):
                t = newNode(stC[-1])
                stC.pop()
                t1 = stN[-1]
                stN.pop()
                t2 = stN[-1]
                stN.pop()
                t.left = t2
                t.right = t1

                # Push the node to the node stack
                stN.append(t)

            # Push s[i] to char stack
            stC.append(i)

        elif (i == ')'):
            while (len(stC) != 0 and stC[-1] != '('):
                t = newNode(stC[-1])
                stC.pop()
                t1 = stN[-1]
                stN.pop()
                # if(len(stN)!=0):
                t2 = stN[-1]
                stN.pop()
                t.left = t2
                t.right = t1
                stN.append(t)
            stC.pop()
    t = stN[-1]
    return t

In [243]:
def eq_parser(eq):
    try:
        eq = eq.split('=')
        eq_lhs  = '( '+eq[0]+' )'
        eq_rhs  = '( '+eq[1]+' )'
        # print(eq_lhs, eq_rhs)
        return [build(eq_lhs), build(eq_rhs)]
    except:
        print(eq)
        return []

In [204]:
eq_parser(df_all['eqn'][0])

In [205]:
tree = df_all['eqn'].apply(eq_parser)

['2 * x ', ' ( - 1 )']
['x ', ' ( ( ( - 2 ) * ( - 4 ) ) * 3 ) * ( - 1 )']
['( 2 * x ) - ( - 1 ) ', ' ( - 3 )']
['3 - ( 2 * x ) ', ' ( - 1 ) + x']
['( 3.0 * x ) + ( 2 + x ) ', ' ( - 1 ) - ( 2.0 * x )']
['( 2.0 * x ) + ( x - 2 ) ', ' ( - 1 ) - x']
['( 2.0 * x ) + ( x - 2 ) ', ' ( - 1 ) - x']
['( 2.0 * x ) + ( x - 2 ) ', ' ( - 1 ) - x']

In [206]:
len(tree)

2877

In [207]:
df_all['tree'] = tree

In [208]:
def if_variable(str):
    return str.isalpha()

def is_constant(str):
    return str.isnumeric() or str.isdecimal() or isDecimal(str)

In [220]:
def compare_tree( root1, root2):
    if root1 is None and root2 is None:
        return True

    if root1 is None or root2 is None:
        return False
    # print(root1.data, root2.data)

    if if_variable(root1.data) and if_variable(root2.data):
        return compare_tree(root1.left, root2.left) and compare_tree(root1.right, root2.right)

    if is_constant(root1.data) and is_constant(root2.data):
        return compare_tree(root1.left, root2.left) and compare_tree(root1.right, root2.right)

    if(root1.data == root2.data ):
        return compare_tree(root1.left, root2.left) and compare_tree(root1.right, root2.right)

    return False

In [221]:
compare_tree(tree[0][0], tree[0][1])

False

In [222]:
lst = []
for i in range(len(tree)):
    if len(tree[i]) == 0:
        continue
    if i%100 == 0 :
        print(i)
    tmp = []
    for j in range(len(tree)):
        if len(tree[j]) == 0:
            continue
        if compare_tree(tree[i][0], tree[j][0]) and compare_tree(tree[i][1], tree[j][1]):
            tmp.append(j)
    lst.append(tmp)

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800

In [250]:
lst_all = df_all['common']
lst_test = df_test['common']

In [252]:
print(lst_all[0])
print(lst_test[0])

[0, 1, 462, 1877, 2377, 2627]
[0]

In [234]:
df['eqn'][1]

'x = ( 8 * 0.01 ) * 2'

In [213]:
compare_tree(tree[0][0], tree[4][0])

x *

False

In [267]:
for i in lst_all[1111]:
    print(df_all['ques'][i],df_all['eqn'][i], end='\n*****\n')

as alyssa was searching through her couch cushions , she found 1 quarters , and 2 pennies in the couch . how much money in total does alyssa have ? ( 1 * 0.25 ) + ( 1 * 0.25 ) = x
*****
on wednesday , joan spent 1 half - dollars playing pinball . the next day , she spent 2 half - dollars on pinball . what was the total amount joan spent playing pinball ? ( 1 * 0.5 ) + ( 1 * 0.5 ) = x
*****

In [264]:
for i in lst_test[1]:
    print(df_test['ques'][i],df_test['eqn'][i], end='\n*****\n')

a bee has 2 legs . how many legs do 3 bees have ? x = ( 2 / 1 )
*****
christopher strolled 2 miles at 1 miles per hour . how long did christopher stroll ? x = ( 2 / 1 )
*****
if benjamin strolled 2 miles at 1 miles per hour , how long was benjamin travelling ? x = ( 2 / 1 )
*****
if lawrence walked 2 kilometers at 1 kilometers per hour , how long was lawrence walking ? x = ( 2 / 1 )
*****
mr . guzman bought 1 doughnuts packed equally into 2 boxes . how many doughnuts were in each box ? x = ( 1 / 2 )
*****
jack is inviting 1 friends to a party . he has 1 cookies . how many cookies will each friend get ? x = ( 2 / 1 )
*****
virginia has 2 eggs and 1 skittles . if she shares the eggs among 3 friends , how many eggs does each friend get ? x = ( 3 / 2 )
*****
there are 1 bottle caps in beverly's bottle cap collection . if the bottle caps are organized into 2 groups , how big is each group ? x = ( 1 / 2 )
*****
there are 1 students in the class and 2 tickets . if the tickets are divided equally among the students , how many does each student get ? x = ( 1 / 2 )
*****
billy was putting his spare change into piles . he had 1 piles of quarters and 2 piles of dimes . if each pile had 3 coins in it , how many coins did he have total ? x = ( 2 / 1 )
*****
marilyn has 1 bananas that must be put away in boxes . daniel comes to help and brings 3 cookies to share with marilyn . if there are 2 boxes , how many bananas must go in each box ? x = ( 2 / 3 )
*****

In [260]:
display(build(df_all['eqn'][0].split('=')[1]))

2

In [13]:
df_temp

,ques,eqn,tree,common
0,what is 1 % of 2 ?,x = ( 1 * 0.01 ) * 2,"[<__main__.nptr object at 0x00000226B457FC40>, <__main__.nptr object at 0x00000226B457C070>]","[0, 1, 462, 1877, 2377, 2627]"
1,what is 8 % of 2 ?,x = ( 8 * 0.01 ) * 2,"[<__main__.nptr object at 0x00000226B4678910>, <__main__.nptr object at 0x00000226B46781F0>]","[0, 1, 462, 1877, 2377, 2627]"
2,2 is 1 % of what number ?,2 = ( 1 * 0.01 ) * x,"[<__main__.nptr object at 0x00000226B4678310>, <__main__.nptr object at 0x00000226B4678940>]",[2]
3,what is divided by 1 to get 2 ?,x / 1 = 2,"[<__main__.nptr object at 0x00000226B4678070>, <__main__.nptr object at 0x00000226B4678820>]",[3]
4,"2 of a number is 1 , what is the number ?",2 * x = 1,"[<__main__.nptr object at 0x00000226B46787C0>, <__main__.nptr object at 0x00000226B4679B40>]","[4, 52, 246, 690, 721, 827, 1085, 1299, 1559, 1671, 1755, 1756, 1786, 1826, 1834, 1836, 1990, 2127, 2262, 2332, 2379, 2490, 2629, 2740]"
...,...,...,...,...
2872,"heather went to the county fair last weekend . when she got there , she had to walk 2 mile from the car to the entrance . then she walked 2 mile to the carnival rides and 1 mile from the carnival ...",2 + 2 + 1 = x,"[<__main__.nptr object at 0x00000226B4C541F0>, <__main__.nptr object at 0x00000226B4C543D0>]","[383, 468, 469, 741, 799, 815, 819, 829, 845, 857, 905, 906, 911, 914, 955, 966, 1050, 1213, 1219, 1250, 1317, 1528, 1547, 1634, 1647, 1693, 1706, 1735, 1790, 1798, 1825, 1830, 1832, 1839, 1853, 1..."
2873,"dalton wants to buy a jump rope that costs $ 5 , a board game that costs $ 2 , and a playground ball that costs $ 1 . he has saved $ 4 from his allowance , and his uncle gave him $ 3 . how much mo...",x = 2 - 1,"[<__main__.nptr object at 0x00000226B4C54430>, <__main__.nptr object at 0x00000226B4C54490>]","[40, 61, 62, 71, 77, 78, 80, 84, 97, 101, 105, 106, 109, 115, 116, 119, 121, 126, 132, 133, 134, 138, 144, 145, 146, 147, 150, 153, 155, 161, 165, 176, 177, 178, 192, 193, 199, 200, 201, 202, 203,..."
2874,"tom quig travelled 4 miles east of st louis . for most of the trip he travelled 1 miles per hour , but for one period of time he was slowed to 2 miles per hour due to a major accident . if the tot...",x = 3 * ( 1 + 3 ),"[<__main__.nptr object at 0x00000226B4C545B0>, <__main__.nptr object at 0x00000226B4C54610>]","[12, 788, 789, 790, 791, 792, 798, 811, 812, 813, 841, 987, 1017, 1018, 1019, 1020, 1021, 1022, 1023, 1027, 1047, 1091, 1106, 1182, 1183, 1184, 1185, 1186, 1187, 1261, 1312, 1361, 1392, 1393, 1394..."
2875,martha wants to buy a digital camera from her 3 month savings . to do this she needs to maintain an average saving of 4 in each month . she saves 2 in the first month and 1 in the second month . f...,( 3 * x ) / ( 2 + x ) = ( 1 * x ) - 3,"[<__main__.nptr object at 0x00000226B4C547F0>, <__main__.nptr object at 0x00000226B4C54A90>]","[2125, 2625, 2875]"
2876,a producer of packaged frozen meat wants to market mixed meat at 4 dollars per kilogram . how many kilograms of pork meat worth 6 dollars per kilogram must be mixed with 5 kilograms of chicken mea...,( ( 4 * 2 ) + ( ( 4 * 0.01 ) * x ) ) + ( ( 1 * 0.01 ) * x ) = ( ( 2 + x ) + x ) * 0.01,"[<__main__.nptr object at 0x00000226B4C54C70>, <__main__.nptr object at 0x00000226B4C55210>]","[2126, 2626, 2876]"

In [12]:
df_temp = df_all

In [19]:
df_temp.drop('tree', axis = 1, inplace=True)

In [ ]:
df_temp.drop('common', axis = 1, inplace=True)

In [35]:
df_temp.to_json('df_temp.json', orient='records')

In [25]:
len(df_temp)

2877

In [31]:
id_list = list(range(2877))

In [33]:
df_temp['id'] = id_list

In [34]:
df_temp

,ques,eqn,id
0,what is 1 % of 2 ?,x = ( 1 * 0.01 ) * 2,0
1,what is 8 % of 2 ?,x = ( 8 * 0.01 ) * 2,1
2,2 is 1 % of what number ?,2 = ( 1 * 0.01 ) * x,2
3,what is divided by 1 to get 2 ?,x / 1 = 2,3
4,"2 of a number is 1 , what is the number ?",2 * x = 1,4
...,...,...,...
2872,"heather went to the county fair last weekend . when she got there , she had to walk 2 mile from the car to the entrance . then she walked 2 mile to the carnival rides and 1 mile from the carnival ...",2 + 2 + 1 = x,2872
2873,"dalton wants to buy a jump rope that costs $ 5 , a board game that costs $ 2 , and a playground ball that costs $ 1 . he has saved $ 4 from his allowance , and his uncle gave him $ 3 . how much mo...",x = 2 - 1,2873
2874,"tom quig travelled 4 miles east of st louis . for most of the trip he travelled 1 miles per hour , but for one period of time he was slowed to 2 miles per hour due to a major accident . if the tot...",x = 3 * ( 1 + 3 ),2874
2875,martha wants to buy a digital camera from her 3 month savings . to do this she needs to maintain an average saving of 4 in each month . she saves 2 in the first month and 1 in the second month . f...,( 3 * x ) / ( 2 + x ) = ( 1 * x ) - 3,2875
2876,a producer of packaged frozen meat wants to market mixed meat at 4 dollars per kilogram . how many kilograms of pork meat worth 6 dollars per kilogram must be mixed with 5 kilograms of chicken mea...,( ( 4 * 2 ) + ( ( 4 * 0.01 ) * x ) ) + ( ( 1 * 0.01 ) * x ) = ( ( 2 + x ) + x ) * 0.01,2876